<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="User Suite" verbose="1" parallel="false">

    <!-- Định nghĩa Test Suite -->
    <test name="User Tests" preserve-order="true">

        <!-- Thêm các class test -->
        <classes>
            <!-- Class RegisterTest -->
            <class name="com.example.Fashion_Shop.DatTest.TestRegister"/>
            <!-- Class LoginTest -->
            <class name="com.example.Fashion_Shop.DatTest.TestLogin"/>
        </classes>

    </test>
</suite>